<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{userName}) %>
    <title>详情</title>
    <style>
        html,
        body {
            height: 100%;
            background: linear-gradient(to bottom right, rgb(85, 187, 235), rgb(236, 182, 138));
        }

        .layui-card {
            margin: 0 auto;
            width: 80%;
            border: 1px solid rgba(163, 163, 163.);
            border-radius: 5px;
            margin-top: 30px;
            padding: 15px;
            background: rgba(255, 255, 255, 0.6);

        }

        .right {
            float: right;
            margin-left: 50px;
        }

        .date {
            margin: 10px 25px;
        }

        .author {
            font-size: 20px;

        }
    </style>
</head>

<body>
    <%- include('nav',{}) %>

    <div class="layui-card">
        <div class="layui-card-header">
            <h1><%= data.title %></h1>
            <div class="right">
                <a class="author">作者：<%- userName %></a>
                <a class="date">发布时间：<%= data.tt %></a>

            </div>
        </div>

        <div class="layui-card-body">
            <%- data.content %>
        </div>
    </div>

    
</body>

</html>